//colors
$main: #181818;
$secondary: #393939;
$white: #ffffff;
$tertiary: #939393;

//fonts
$title: 600 46px/56px Inter, sans-serif;
$title-sub: 400 18px/30px Inter, sans-serif;

$dropdown-main: 500 18px/22px Inter, sans-serif;
$dropdown-sub: 600 12px/15px Inter, sans-serif;

$header-main: 500 15px/18px Inter, sans-serif;
$header-sub: 400 15px/18px Inter, sans-serif;

$p: 400 15px/18px Inter, sans-serif;

$btn: 600 15px/18px Inter, sans-serif;
$btn-transparent: 600 12px/15px Inter, sans-serif;